{% extends 'base.html' %}
{% load static %}

{% block content %}
<form id="form">
  <div class="form-group row">
    <label for="titleAdd" class="col-sm-2 col-form-label">Название</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="titleAdd" placeholder="Название события" required="required">
    </div>
  </div>

  <div class="form-group row">
    <label for="categoryAdd" class="col-sm-2 col-form-label">Категория</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="categoryAdd" placeholder="Выберите категорию события" required="required">
    </div>
  </div>

  <div class="form-group row">
    <label for="dateAdd" class="col-sm-2 col-form-label">Дата и время</label>
      <div class="col-sm-5">
        <label for='beginDate' class="col-form-label">Начало:</label>
        <input type="datetime-local" id="beginDate" required="required">
      </div>
      <div class="col-sm-5">
        <label for='endDate' class="col-form-label">Конец:</label>
        <input type="datetime-local" id="endDate" required="required">
      </div>
  </div>

  <!-- карта -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Место проведения</label>
    <div class="col-sm-10">
      <div id="mapAdd">

      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="addresAdd" class="col-sm-2 col-form-label">Адресс</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="addressAdd" placeholder="Введите адрес или отметьте расположение на карте" required="required">
    </div>
  </div>

  <div class="form-group row">
    <label for="descriptionAdd" class="col-sm-2 col-form-label">Описание</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="descriptionAdd" rows="5" required="required"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="contactAdd" class="col-sm-2 col-form-label">Контактная информация</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="contactInfo" rows="" required="required"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" id="send">Отправить</button>
    </div>
  </div>
</form>

<script type="text/javascript">
  let post_object = {
    "type": "",
    "description": "",
    "contact_information": "",
    "begin": 0,
    "end": 0,
    "city": "",
    "street": "",
    "house": "",
    "full_address": "",
    "lon": 0,
    "lat": 0,
    "text": ""
  }

  function get_api_key(){
    return "u4ahqccok9gueojxwxrnvmpgysqzkahz"
  }

  let mymap = L.map('mapAdd').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia29udWNob3ZhcnRlbSIsImEiOiJjajhoOGJmZmQwMDltMndrbnhnY3J5andvIn0.9iiSiT1X3i5zSU4YTr9c9w', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'your.mapbox.access.token'
  }).addTo(mymap);
  mymap.setView([43.585278, 39.720278], 15);  

  let eventMarker;

  setMapHeight("mapAdd");

  $( window ).resize(function() {
      setMapHeight("mapAdd")
  });

  function update_marker(lat, lng){
    if(eventMarker){
      mymap.removeLayer(eventMarker);
    }

    eventMarker = L.marker({"lat": lat, "lng": lng}).addTo(mymap);   
  }

  mymap.on('click', function (e){
    update_marker(e.latlng.lat, e.latlng.lng);
    $.get(
      "https://geocode-maps.yandex.ru/1.x/?format=json&apikey="+"{{yandex_geocoder_key}}"+"&geocode="+e.latlng.lng+","+e.latlng.lat,
      function (response){
        geo_object = response.response.GeoObjectCollection.featureMember[0].GeoObject.metaDataProperty.GeocoderMetaData;
        full_address = geo_object.text;
        document.getElementById("addressAdd").value = full_address;

        post_object['full_address'] = full_address;
        components = geo_object.Address.Components;
        for(let item in components){
          if(components[item].kind == "locality"){
            post_object.city = components[item].name;
          }
          else if(components[item].kind == "street"){
            post_object.street = components[item].name;
          }
          else if(components[item].kind == "house"){
            post_object.house = components[item].name;
          }
        }
        post_object.lon = response.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos.split(' ')[0];
        post_object.lat = response.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos.split(' ')[1];
      }
    );
  });

  document.getElementById("addressAdd").onfocusout = function() {
    text = $("#addressAdd")[0].value;
    $.get(
      "https://geocode-maps.yandex.ru/1.x/?format=json&apikey="+"{{yandex_geocoder_key}}"+"&geocode="+text,
      function (response){
        list = response.response.GeoObjectCollection.featureMember
        if(list.length){
          geo_object = list[0].GeoObject.metaDataProperty.GeocoderMetaData;
          point = list[0].GeoObject.Point.pos.split(' ');
          
          update_marker(point[1], point[0]);
          mymap.setView([point[1], point[0]], 15);
          
          post_object.lon = point[0];
          post_object.lat = point[1];
          post_object['full_address'] = geo_object.text;
          components = geo_object.Address.Components
          for(let item in components){
            if(components[item].kind == "locality"){
              post_object.city = components[item].name;
            }
            else if(components[item].kind == "street"){
              post_object.street = components[item].name;
            }
            else if(components[item].kind == "house"){
              post_object.house = components[item].name;
            }
          }
        }
      }
    );
  };

  document.getElementById("form").onsubmit = function() {
    post_object.description = $("#titleAdd")[0].value;
    post_object.type = $("#categoryAdd")[0].value;
    post_object.begin = Math.floor(new Date($("#beginDate")[0].value).getTime()/1000.0);
    post_object.end =   Math.floor(new Date(  $("#endDate")[0].value).getTime()/1000.0);
    post_object.text = $("#descriptionAdd")[0].value;
    post_object.contact_information = $("#contactInfo")[0].value;

    post_object.token = get_api_key();
    
    $.post({
      url: "http://85.143.221.107:1337/api/set_event",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(post_object).toString(),
      success: function(data){
        alert("Событие добавлено.")
      },
      fail: function(xhr, status,error) { alert("Ошибка выполнения")},
    })
  }

  function setMapHeight(mapid){
    let mapwidth = $('#mapAdd').width();
    let mapheight = mapwidth/2;
    if (mapwidth < 720){
      mapheight = mapwidth;
    }

    $('#'+mapid).css({'height':mapheight+'px'});
  }

</script>
{% endblock content %}