{% extends 'base.html' %}
{% load static %}

{% block content %}
<form>
  <div class="form-group row">
    <label for="titleAdd" class="col-sm-2 col-form-label">Название</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="titleAdd" placeholder="Название события">
    </div>
  </div>

  <div class="form-group row">
    <label for="categoryAdd" class="col-sm-2 col-form-label">Категория</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="categoryAdd" placeholder="Выберите категорию события">
    </div>
  </div>

  <div class="form-group row">
    <label for="dateAdd" class="col-sm-2 col-form-label">Дата и время</label>
      <div class="col-sm-5">
        <label for='beginDate' class="col-form-label">Начало:</label>
        <input type="datetime-local" id="beginDate">
      </div>
      <div class="col-sm-5">
        <label for='endDate' class="col-form-label">Конец:</label>
        <input type="datetime-local" id="endDate">
      </div>
  </div>

  <!-- карта -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Место проведения</label>
    <div class="col-sm-10">
      <div id="mapAdd">

      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="addresAdd" class="col-sm-2 col-form-label">Адресс</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="addressAdd" placeholder="Введите адрес или отметьте расположение на карте">
    </div>
  </div>

  <div class="form-group row">
    <label for="descriptionAdd" class="col-sm-2 col-form-label">Описание</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="descriptionAdd" rows="5"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="contactAdd" class="col-sm-2 col-form-label">Контактная информация</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="contactInfo" rows=""></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </div>
</form>

<script type="text/javascript">
  

  let mymap = L.map('mapAdd').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia29udWNob3ZhcnRlbSIsImEiOiJjajhoOGJmZmQwMDltMndrbnhnY3J5andvIn0.9iiSiT1X3i5zSU4YTr9c9w', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'your.mapbox.access.token'
  }).addTo(mymap);

  let eventMarker;

  setMapHeight("mapAdd");

  $( window ).resize(function() {
      setMapHeight("mapAdd")
  });

  mymap.on('click', function (e){
    if(eventMarker){
      mymap.removeLayer(eventMarker);
    }

    eventMarker = L.marker(e.latlng).addTo(mymap);
  })




  function setAddress(lat, lng){

  }

  function setMarker(address){

  }

  function setMapHeight(mapid){
    let mapwidth = $('#mapAdd').width();
    let mapheight = mapwidth/2;
    if (mapwidth < 720){
      mapheight = mapwidth;
    }

    $('#'+mapid).css({'height':mapheight+'px'});
  }

</script>
{% endblock content %}