{% extends 'base.html' %}
{% load static %}

{% block content %}
      <form class="reg_form">
        <h4> Вход на сайт Градинформер </h4>
        <div class="form-group">
          <input type="text" class="form-control" id="loginInput" placeholder="Логин или email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
      </form>
{% endblock content %}