{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="input-group mb-3 searchstring" style="padding-top: 15px;">
        <input type="text" id="searchstring" class="form-control" placeholder="Поиск по описанию" aria-label="Имя получателя" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">Фильтры</button>
          <button class="btn btn-outline-secondary" type="button" onclick="search()">Поиск</button>
        </div>
    </div>
    <div class="collapse" id="collapseFilter">
		<div class="input-group mb-3">
		  	<div class="input-group-prepend">
		    	<label class="input-group-text" for="cityFilter">Город</label>
		  	</div>
		  	<select class="custom-select" id="cityFilter">
		    	<option value="Сочи" selected>Сочи</option>
		    	<option value="Казань">Казань</option>
		    	<option value="Санкт-Петербург">Санкт-Петербург</option>
		    	<option value="Москва">Москва</option>
		 	</select>
		</div>

		<div class="input-group mb-3">
			 <div class="input-group-prepend">
			    <span class="input-group-text">Начало</span>
			 </div>
			 <input type="date" id="filterStartTime" class="form-control">
			 <div class="input-group-prepend">
			 	<span class="input-group-text">Конец</span>
			 </div>
			 <input type="date" id="filterEndTime" class="form-control">
		</div>

		<div class="row" id="category_filter_row">
		</div>
	</div>

     <div class="row" id="cards">
     </div>

<script type="text/javascript">
	let filter={
		"category":{
			"water": {
				"title": "Отключение воды",
				"description": "Тип water Event'a - событие, описывающее отключение воды в районе, улице или доме",
				"used":false,
			},
			"energy":{
				"title": "Отключение электричества",
				"description": "Тип energy Event'a - событие, описывающее отключение электричества в районе, улице или доме",
				"used": false,
			},
			"theater":{
				"title": "Театральная постановка",
				"description": "Тип theater Event'a - событие, описывающе театральную постановку, которая пройдет в городе",
				"used": true,
			},
			"concert":{
				"title":"Концерт",
				"description": "",
				"used": true,
			},
			"sport":{
				"title":"Спорт",
				"description": "",
				"used": true,
			},
			"art":{
				"title":"Художественное мероприятие",
				"used":true,
			},
			"festival":{
				"tittle":"Фестиваль",
				"description": "",
				"used":true,
			},
			"fair":{
				"title":"Ярмарка",
				"description": "",
				"used":true,
			},
			"lectures":{
				"title": "Лекции и семинары",
				"description": "",
				"used": true,
			},
			"fashion":{
				"title": "Мода",
				"description": "",
				"used":true,
			},
			"exhibition":{
				"title": "Выставки",
				"description": "",
				"used":true,
			},
			"incident":{
				"title": "Чрезвычайное происшествие",
				"description": "",
				"used": true,
			},
			"hakaton":{
				"title":"Хакатон",
				"description": "",
				"used": true,
			},
		},

		"city": "Сочи",
		"time": {
			"begin": "",
			"end": "",
		}
	}
	
	let endpoint = "http://85.143.221.107:1337/api/event?";

	//init search
	setFilterToCoocie(filter);
	getFiltersFromCoocies();
	setCategoryFilter();
	search();


	function setFilterToCoocie(filter){
		setCookie("filter", JSON.stringify(filter));
	}

	function getFiltersFromCoocies(){
		console.log(getCookie("filter"));
	}

	//изменение города фильтрации
	$("#cityFilter").change(function(e){
			filter.city = $("#cityFilter option:selected").text();
			setFilterToCoocie(filter);
			search();
		}
	);

	$("#filterStartTime").change(function(e){
		let begin_unix_time =  new Date($("#filterStartTime").val()).getTime();
		filter.time.begin = begin_unix_time;
		setFilterToCoocie(filter);
		search();
	})

	$("#filterEndTime").change(function(e){

		let end_unix_time =  new Date($("#filterStartTime").val()).getTime();
		filter.time.end = end_unix_time;
		setFilterToCoocie(filter);
		search();
	})

	$(".category_filter").change(function(e){

		let category = e.target.getAttribute('category');
		filter.category[category].used = e.target.checked;
 		setFilterToCoocie(filter);
 		search();
	})



	function search(){
		$(".card-col").remove();

		let search_text = $("#searchstring").val();

		for (key in filter.category){

			if (filter.category[key].used){

				let request = endpoint;

				if (filter.city){
					request += "city=" + filter.city + "&";
				}

				if (filter.time.begin && filter.time.end){
					request += "begin=" + filter.time.begin + "&";
					request += "end=" + filer.time.end + "&";
				}

				if(search_text) {
					request += "description=" + search_text + "&";
				}


				request += "type=" + key + "&";
				$.get(request, function(response){
						for (key in response) {
							
							let event = response[key];
							
							let event_title = event.title;
							let event_description = event.description;
							let event_category = filter.category[event.type].title;
							let event_start = new Date(event.begin * 1000).toLocaleString();
							let event_end = new Date(event.end * 1000).toLocaleString();



							$("#cards").append('<div class="col-md-6 col-xl-3 card-col">\
	          									<div class="card mx-auto mb-4">\
	          										<div class="card-header bg-info">' 
	        											+ event_category + 
	    											'</div>\
	            								<div class="card-body">\
	              									<h5 class="card-title">' + event_title + '</h5>\
	              									<p class="card-text">' + event_description + '</p>\
	              									<p class="card-text">Дата начала:' + event_start + 'Дата окончания:' + event_end + '</p>\
	              									<a href="#" class="btn btn-primary">Редактировать</a>\
	            								</div>\
	          									</div>\
	        								</div>');
							
						}
					}
				)
			}
		}

	}

	function setCategoryFilter(){
		for (key in filter.category){
			$("#category_filter_row").append('<div class="col-md-6 col-xl-3">\
												<div class="input-group mb-3">\
				  									<div class="input-group-prepend">\
				    									<div class="input-group-text">\
				      										<input class="category_filter"' + 'category=' + key + ' type="checkbox"'  + (filter.category[key].used ? 'checked': '') + '>\
				    									</div>\
				  									</div>\
				  								<input type="text" class="form-control" placeholder="' + filter.category[key].title + '" aria-label="Text input with checkbox" readonly>\
												</div>\
											</div>');

		}
	}

</script>

{% endblock content %}